parameters:
    level: 8
    paths:
        - includes
        - bh-wp-simple-calendar.php
        - autoload.php
        - uninstall.php
    excludePaths:
        - vendor-prefixed
    bootstrapFiles:
        - phpstanbootstrap.php
        - autoload.php
    scanFiles:
        - vendor/antecedent/patchwork/Patchwork.php
    scanDirectories:
        - vendor-prefixed
        - vendor/wp-cli
    ignoreErrors:
        # LoggerAwareTrait allows for null $logger, but we set it in the constructor.
        - '#LoggerInterface\|null#'
        # PHPStan show errors when filters have more than two parameters.
        - '#^Function apply_filters(_ref_array)? invoked with \d parameters, 2 required\.$#'
        # Setting an empty array with type associative array in the PhpDoc prints this.
        - '/does not accept default value of type array\(\)/'
        # Parameter #2 $callback of static method WP_Mock::expectActionAdded() expects ...
        - '/Parameter #\d+ \$callback of static method WP_Mock::expectActionAdded\(\) expects .*/'
